<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css pages/signIn.css">
</head>

<body>

    <div class="container" id="MainDiv">
        <div class="header">
            <h1 class="h1"> Log In </h1>
        </div>

        <div class="inputs">
            <div class="firstInput"> <input class="input1" type="email" placeholder="E-mail"></div>

            <div> <input class="input2" type="password" placeholder="Password"> </div>

        </div>

        <div class="Remember">
            <div> <input type="checkbox" name="item" checked />
                <label> Remember me</label>
            </div>
        </div>


        <div class="swimmingCreate">
            <div class="swimclub">
                <p>New To Swimming Club? </p>
            </div>
            <div><a class="create" href="">Creat your account !</a> </div>
        </div>
        <div> <img src="/Images/OIP (1).jpg" alt="log in image"></div>
        <div><button class="btn">Log In</button>

        </div>

    </div>


</body>

</html>