<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css pages/signIn.css">
</head>

<body>
    <div class="MainDiv">
        <div>
            <h1>Sign in </h1>
        </div>

        <div class="inputs">
            <div> <input type="email" placeholder="E-mail"></div>

            <div> <input type="password" placeholder="Password"> </div>

        </div>

        <div>
            <div> <input type="checkbox" name="item" checked />
                <label> Remember me</label>
            </div>
        </div>


        <div>
            <div>
                <p>New To Swimming Club? </p>
            </div>
            <div><a href="">Creat your account !</a> </div>
        </div>

        <div><button>Sign in</button> </div>

    </div>

</body>

</html>