<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<div>Create a new account</div>
<div><input type="text" placeholder="First Name" id="first_name"></div>
<div><input type="text" placeholder="Last Name" id="last_name"></div>
<div><input type="number" placeholder="Age" id="age"></div>
<div><input type="tel" placeholder="Phone number" id="Phone_number"></div>
<div><input type="email" placeholder="Email Adress" id="email"></div>
<div><input type="password" placeholder="Enter password" id="password"></div>
<div><input type="password" placeholder="Confirm password" id="confirm_password"></div>
<div><input type="checkbox" id="myCheck">I accept the Terms & Conditions</div>
<div><button>Sign Up</button>
<div id="text">copyright <span>&copy;</span> Team4</div>


</html>